<nav class="navbar navbar-expand-lg navbar-dark background-header shadow">
    <a class="navbar-brand text-color" href="/">
        <img src="/public/header.png" width="30" height="30" class="d-inline-block"/>
        <span class="header-color">Events</span>
    </a>
</nav>
