<nav class="navbar navbar-expand-lg navbar-dark background-header shadow">
    <a class="navbar-brand text-color" href="/">
        <img src="/public/header.png" width="30" height="30" class="d-inline-block"/>
        <span class="header-item header-color">Events</span>
    </a>
    <a class="navbar-brand text-color" href="/locations">
        <span class="header-item header-color">Locations</span>
    </a>
    <a class="navbar-brand text-color" href="/organizers">
        <span class="header-item header-color">Organizers</span>
    </a>
    <a class="navbar-brand text-color" href="/tags">
        <span class="header-item header-color">Tags</span>
    </a>
</nav>
